@use 'variables';

@mixin container{
    margin: 0 auto;
    padding: 1.5rem 0;
}

@mixin breakpoints{
    @media (max-width: variables.$tablet_xl) {
        .hide-mobile-xl{
          display: none !important
        }
        .col-default{
            columns: 0 !important;
            flex-basis: auto !important;
        }
        .margin-left-page{
            margin-left: 15px
        }
        .margin-right-page{
            margin-right: 15px
        }
        .h1{
            font-size: 9vh !important
        }
        .header-title{
            font-size: 1rem !important;
        }
      }
    @media (max-width: variables.$phone_l){
        .hide-mobile-l{
            display: none !important
        }
        .col-default{
            columns: 0 !important;
            flex-basis: auto !important;
        }
        .h1{
            font-size: 9vh !important
        }
    }
    @media (min-width: variables.$phone_l){
        .hide-desktop{
            display: none !important;
        }
    }
    @media (min-width: variables.$desktop_l){
      .header-title{
        font-size: 0.8rem !important;
      }
    }
}
