// Variáveis de cor
    
$primary-color: #E8E5AE; // Bege
$secondary-color: #434C6D ;// Azul claro
$bg-color: #22273C; // Azul escuro

// Variáveis de comprimento

$container-width: 1170px;
$header-height: 6vh;
$template-height: calc(100vh - $header-height);

// breakpoints

$tablet_xl: 1130px;
$phone_l: 591px;