// Variáveis de cor

$primary-color: #E8E5AE; // Bege
$secondary-color: #434C6D ;// Azul claro
$bg-color: #22273C; // Azul escuro

// Variáveis de comprimento

$distance-margin: calc(((100vw * 0.41) - (100vw * 0.41 * 0.7))/2);
$container-width: 1170px;
$header-height: 6vh;
$template-height: calc(100vh - 6vh);

// breakpoints

$tablet_xl: 920px;
$phone_l: 700px;
$desktop_l: 1200px;
